body {
    background-color: black;
}

#Home {
    padding-top: 50px;
}


h2 {
    padding-bottom: 25px;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 20px;
}

.buttons {
    display: flex;
    justify-content: space-around;
    padding-bottom: 20px;
}

#logos {
    display: flex;
    justify-content: space-around;
}


#fb {
    height: 25px;
    width: 25px;
}

#ig {
    height: 25px;
    width: 25px;
}

#x {
    height: 25px;
    width: 25px;
}

.footer {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 6px;
}

@media only screen and (min-width: 768px) {
    
h2 {
    font-size: 50px;
}

.buttons {
    padding-bottom: 50px;
}

#fb {
    height: 40px;
    width: 40px;
}

#ig {
    height: 40px;
    width: 40px;
}

#x {
    height: 40px;
    width: 40px;
}

.footer {
    font-size: 20px;
}

}

@media only screen and (min-width: 1024px) {

    #fb {
        height: 55px;
        width: 55px;
    }
    
    #ig {
        height: 55px;
        width: 55px;
    }
    
    #x {
        height: 55px;
        width: 55px;
    }

}

@media only screen and (min-width: 1440px) {

    #fb {
        height: 70px;
        width: 70px;
    }
    
    #ig {
        height: 70px;
        width: 70px;
    }
    
    #x {
        height: 70px;
        width: 70px;
    }


}

